* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva,
		Verdana, sans-serif;
	background-color: #dbe5df;
	color: #333;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1.25rem;
}

header {
	margin-bottom: 1.25rem;
}

h1 {
	color: #2d6a4f;
	font-size: 4rem;
	text-decoration: underline;
	text-transform: uppercase;
}

main {
	width: 100%;
	max-width: 50rem;
	text-align: center;
}

#plant-form {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.625rem;
	margin-bottom: 1.25rem;
	opacity: 0.85;
	border-radius: 0.5rem;
	padding: 1rem 0;
}

#plant-form label {
	font-size: 1.25rem;
}

#plant-search {
	padding: 0.5rem;
	border: 0.125rem solid #74c69d;
	border-radius: 0.25rem;
	outline: none;
	width: 12.5rem;
}

button {
	padding: 0.5rem 0.75rem;
	background-color: #40916c;
	color: #fff;
	border: none;
	border-radius: 0.25rem;
	cursor: pointer;
}

button:hover {
	background-color: #2d6a4f;
}

#plants-container {
	display: grid;
	gap: 1.25rem;
	grid-template-columns: repeat(3, 1fr);
	margin-top: 1.25rem;
	padding: 1rem;
	border-radius: 0.5rem;
}

.plant-item,
.result-item {
	background-color: #ffffff;
	border-radius: 0.5rem;
	box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
	overflow: hidden;
	text-align: left;
	transition: transform 0.2s;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.plant-item:hover,
.result-item:hover {
	transform: scale(1.02);
}

.plant-image {
	width: 100%;
	height: 9.375rem;
	object-fit: cover;
	border-bottom: 0.125rem solid #74c69d;
}

.plant-item h3,
.result-item h3 {
	padding: 0.75rem;
	color: #2d6a4f;
}

.plant-item p,
.result-item p {
	padding: 0 0.75rem 0.75rem;
	font-size: 0.9rem;
	margin: 0.3125rem 0;
}

.add-button {
	display: block;
	width: 100%;
	padding: 0.625rem;
	text-align: center;
	background-color: #74c69d;
	color: #fff;
	border: none;
	border-radius: 0 0 0.5rem 0.5rem;
	cursor: pointer;
	transition: background-color 0.2s;
}

.add-button:hover {
	background-color: #40916c;
}

#my-collection {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	background-color: white;
	padding: 1rem;
	border-radius: 0.5rem;
	opacity: 0.85;
}

#search-results {
	display: grid;
	gap: 1.25rem;
	grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
	margin-top: 1.25rem;
	padding: 1rem;
	background-color: #f0f4f8;
	border-radius: 0.5rem;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#search-results .result-item {
	background-color: #ffffff;
	border-radius: 0.5rem;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	transition: transform 0.3s;
	list-style-type: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1rem;
}

#search-results .result-item:hover {
	transform: scale(1.03);
}

#search-results .result-item img {
	width: 100%;
	height: auto;
	max-width: 10rem;
	border-radius: 0.5rem;
	object-fit: cover;
	margin-bottom: 0.75rem;
	border: 2px solid #74c69d;
}

#search-results .result-item h3 {
	color: #2d6a4f;
	font-weight: bold;
	text-align: center;
	margin-bottom: 0.5rem;
}

#search-results .result-item em {
	display: block;
	font-size: 0.875rem;
	color: #555;
	text-align: center;
}

#search-results .result-item p {
	font-size: 0.9rem;
	color: #333;
	text-align: center;
	margin: 0.3rem 0;
}

.active {
	
}
