<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="/styles.css"/>
    <link rel="stylesheet" href="/semantic.css"/>
    <title>Plantly</title>
  </head>
  <body>
    <header>
      <h1>Plantify</h1>
    </header>
    <main>
      <form id="plant-form">
        <label for="plant-search">Search plants by name:</label>
        <input type="text" id="plant-search" name="plant" placeholder="Enter plant name" required/>
        <button type="submit">Search</button>
      </form>
        <ul id="plants-container">
          {# TODO: Create a list of plants - once you have returned them from the supplied functions #}
        </ul>
      {# If you implement a search functionality - consider a conditional statement #}
    </div>
		</main>
  </body>
	<script src="script.js" type="module"></script>
</html>
